/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-brand {
  padding: 10px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

/* this selector selects all divs inside of .flex-container */
.project-container {
  height: 140px;
  padding: 16px;
  background: plum;
  border: 4px solid indigo;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.item {
  border: 4px solid darkslategray;
  background: skyblue;
}

.intro {
  margin-top: 10px;
}

.btn-success {
  background-color: #9f23c4 !important;
  border: #9f23c4 !important;
}

.btn-success:hover {
  background-color: darkmagenta !important;
  border: darkmagenta !important;
}

.lead {
  padding-top: 15px;
}

.container {
  max-width: 85%;
}

