.people-image img {
    height: 375px;
    width: 375px;
    object-fit: cover;
}

.person-info .text-3xl {
    font-size: 1.8rem;
    font-weight: bold;
}

.person-container {
    margin-bottom: 30px;
}

.person-info {
    text-align: left;
    margin-top: 20px;
}

.person-info p {
    margin-bottom: 10px;
}

.font-link {
    font-family: 'Poppins';
}

.font-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
}